* {
  box-sizing: border-box;
}

body {
  background-color: #1C1C1C;;
  margin: 0;
  padding: 1em;
  font-family: 'Inter';
  background: url("./assets/intro-page.png");
  background-size: cover;
}

main {

  max-width: 1000px;
  max-height: 1000px;
  margin: 0 auto;
  color: #293264;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Karla';
  font-weight: 700;
  margin: .3em auto;
}

h2 {
  font-size: 1rem;
  margin: 0 auto 1em;
}

.cta-btn {
  background: #4D5B9E;
  color: white;
  border: none;
  padding: 1em 3em;
  border-radius: 15px;
  font-family: inherit;
  font-weight: 500;
  margin: 1.5em auto;
}

.cta-btn:disabled {
  opacity: 0.5;
}

.question-container {
  text-align: left;
  margin: 0 0 1em;
  padding: 2em 0;
  border-bottom: 0.8px solid #DBDEF0;
}

.answer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-around;
  align-items: center;
}

label {
  border-radius: 7.942px;
  border: 0.794px solid #4D5B9E;
  padding: 0.5em 1em;
  font-size: .8rem;
  cursor: pointer;
  user-select: none;
  color: #293264
}

input[type="radio"]:checked + label  {
  background: #D6DBF5;
  border: none;
}

input {
  display: none;
}

.user-select {
  border: 1px solid #1C1C1C;
}


